//Media Queries
$breakpoint-1400: 87.5rem;
$breakpoint-1300: 81.25rem;
$breakpoint-1200: 75rem;
$breakpoint-1000: 62.5rem;
$breakpoint-tablet: 56.5rem;
$breakpoint-750: 45rem;
$breakpoint-672: 42rem;
$breakpoint-phone: 36rem;
$max-width: 46.5625rem;